@{
    ViewData["Title"] = "Home Page";
    var details = ViewBag.Data;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Model</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in details)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Id</td>
            </tr>
        }
        
    </tbody>
</table>